<h1>Here is the list of Cocktail</h1>
<ul>
  <% @cocktail.each do |cocktai|%>
  <li><strong><%= link_to cocktai.name, cocktail_path(cocktai)%></strong> </li>
  <% end %>
</ul>

<p> <%= link_to "Create a new Cocktail", new_cocktail_path%> </p>
